/* -------------------------------------------------------- */
/* BASIC FOR THE WEBSITE */
/* -------------------------------------------------------- */

// Variables -
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* font-size is 10px since the default is 16px. 10px to make the calculation for "rem" easier  */
    font-size: 65.5%;
}

body {
    font-family: "Lato", sans-serif;
    /* font-size: 16px; */
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;
}

/* -------------------------------------------------------- */
/* ANIMATION FUNCTIONS FOR THE WEBSITE */
/* -------------------------------------------------------- */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    /* 80% {
        transform: translateX(5px);
    } */

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* -------------------------------------------------------- */
/* HEADER - HERO SECTION */
/* -------------------------------------------------------- */

.header {
    height: 95vh;
    background-image: linear-gradient(
            to right,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    /* Making the wedge - Put the co-ordinates in the parameters
    Starting from top left as origin
    Use the clipy website to get some pre-made shapes */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

    /* Logo */
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
        width: auto;
    }

    /* Heading */
    &__text-box {
        /* This is in relation to the parent element */
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;

        /* Shifted 50% of the element - in reltion to the element*/
        transform: translate(-50%, -50%);
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    /* To hide the backpart of an element when tranforming  */
    /* Sometimes makes the animations shaky. - To fix this */
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        /* -- Animations -- */
        animation-name: moveInLeft;
        animation-duration: 1s;

        /* animation-timing-function: ease; Timing function to change the duration of time for different aspects of the funciton.*/
        /* animation-iteration-count: 3;  Number of times of animation */
        /* animation-delay: 2s; Delay in animation start*/
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;

        /* -- Animations -- */
        animation: moveInRight 1s ease-out;
    }
}

/* -------------------------------------------------------- */
/* BUTTON */
/* -------------------------------------------------------- */

.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: 1.6rem;

        /* Easy and not so effective way to do animation. */
        transition: all 0.2s;

        /* Absolute positioning need a relative place to point to  */
        position: relative;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.2) scaleY(1.4);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: moveInButton 0.5s ease-out 0.75s;

        /* Styles of 0% time is applied before the animation in the element. */
        animation-fill-mode: backwards;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }
}
