/* -------------------------------------------------------- */
/* BASIC FOR THE WEBSITE */
/* -------------------------------------------------------- */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* font-size is 10px since the default is 16px. 10px to make the calculation for "rem" easier  */
    // Defines what 1rem is. //
    font-size: 65.5%;
}

body {
    box-sizing: border-box;
}
